<main>

  <!--MDB Tables-->
  <div class="container mt-4">

    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <h2 class="pt-3 pb-4 text-center font-bold font-up deep-purple-text">{{'gatewaytable' | translate}}</h2>
          </div>
        </div>
        <div class="row">
          <div class="col mb-4">
            <button type="button" class="btn btn-primary float-right" (click)="addGateway()">{{'addGateway' | translate}}</button>
          </div>
        </div>
        <table class="table table-striped">
          <!--Table head-->
          <thead>
            <tr>
              <th>#</th>
              <th>{{'serial' | translate}}</th>
              <th>{{'name' | translate}}</th>
              <th>{{'ip' | translate}}</th>
              <th>{{'gatewaydev' | translate}}</th>
              <th>{{'actions' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let gateway of gateways; let i = index;">
              <th>{{i+1}}</th>
              <td>{{gateway.serial}}</td>
              <td>{{gateway.name}}</td>
              <td>{{gateway.IP}}</td>
              <td><button type="button" class="btn btn-success" (click)="gotoDevices(gateway._id)">{{'devices' | translate}}</button></td>
              <td><button type="button" class="btn btn-primary" (click)="addDevice(gateway._id)">{{'addDevice' | translate}}</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

</main>